body {
    font: 13px Noto Sans, Arial, sans-serif;
    color: #f0f0f0;
    margin-top: 3px;
    margin-left: 18px;
    margin-right: 0px;    
    cursor: default;
    background-color: #000000;
}

/**~~~~~~COMPOSITION~~~~~~~**/
.composition {
    
}

/**~~~~~~CROSSFADER~~~~~~~**/


.crossfader {
    width: 33%;
}

/**~~~~~~LAYERS~~~~~~~**/

.button
{
    text-align: center;        
    padding-top: 5px;
    margin-right: 2px;
    margin-bottom: 2px;    
}
.button 
{
    background-color: #3a3a3a;
}
.button:hover {
    background-color: #50504f;
}
.button:active {
    background-color: #A1FCD5;
}

.on
{
    background-color: #A1FCD5;
    color: black;
}

.on:hover {
    background-color: #A1FCD5;
}

.off
{
    background-color: #3a3a3a;
}
/**~~~~~~CLIPS~~~~~~~**/

.clip
{
    width: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #191818;    
}

.connected {
    outline: 4px solid #A1FCD5;
    outline-offset: -4px;
}

.none:hover {
    outline: 4px solid #50504f;
    outline-offset: -4px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    background-color: #191818;
}

.handle {
    background-color: #3a3a3a;    
    border-radius: 0 0 2px 2px;
    height: 20px;
    padding-top: 4px;
    text-align: center;    
}

.handle:hover {
    background-color: #50504f;
}

.selected {
    background-color: #A1FCD5;
    color: #1C1C1C;
}

.selected:hover {
    background-color: #A1FCD5;
}

.layers_and_clips {
    display: flex;
}

.layers {
    display: grid;
    margin-top: 30px;
    margin-right: 5px;    
}

.clips {
    display: grid;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/**~~~~~~COLUMNS~~~~~~~**/

.column {
    width: 100px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    background-color: #2A2A2A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.column:hover {
    background-color: #50504f;  
}

.column.connected {
    background-color: #80ffd2;
    color: #1b1b1b;
}

/**~~~~~~DECKS~~~~~~~**/

.decks {
    height: 30px;
    margin-left: 185px;
}

.decks > div {
    width: 90px;
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    background-color: #2a2a2a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.decks > div:hover {
    background-color: #50504f;  
}

.decks > div.selected {
    background-color: #80ffd2;
    color: #1b1b1b;    
}

/**~~~~~~PROPERTIES~~~~~~~**/

.title {
    background-color: #4d8c75;
    margin-top: 5px;
    padding: 5px 10px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 17px;
    user-select: none;
}

.content {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1a1a1a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#controls {
    display: flex;
}

#controls > div {
    width: 100%
}

#controls > div + div {
    margin-left: 5px;
}


/**~~~~~~PARAMETERS~~~~~~~**/


.dashboard .parameters {
    margin-top: 0.2em;
    margin-left: 2em;
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(40px, 0.125fr));
    align-items: center;
}

.dashboard .label {
    margin-left: 0px;
}

span.parameter input {
    border: none;
    background: transparent;
    color: #f0f0f0;
}

span.parameter input:focus {
    background-color: white;
}

span.label {
    display: inline-block;
    width: 125px;
    margin-left: 15px;
}

.arrow {
    width: 0px;
    height: 0px;
    display: inline-block;
    margin-right: 2px;
}

.arrow.down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid darkgrey;
    position: relative;
    top: -2px;
    left: -4px;
}

.arrow.right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid darkgrey;
}


.choice {
    width: 130px;
    background-color: #474747;
    border: none;
    color: #f0f0f0;
    margin-left: 10px;
    margin-bottom: 4px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

input[type="color"] {
   margin-left: 6px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #5f5f5f !important;
    height: 5px;
    border-radius: 5px;
    margin: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #4d8c75 !important;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}



/**~~~~~~MENU~~~~~~~**/

.option {
    background-color: #1d1d1d;
    border: 1px solid black;
    padding: 3px;
    padding-top: 8px;
    padding-left: 12px;
    text-align: left;
    color: white;    
    height: 20px;
    position: relative;
}

.context-menu {
    background-color: #0f0f0f;
    position: absolute;
    display: inline-block;    
    box-shadow: 2px 2px 2px #000000;
    border: 0px solid black;    
    width: 250px;
    z-index: 100;
}

.context-menu .label {
    text-align: left;
    height: 20px;
    padding-top: 8px;
    padding-left: 12px;
}

.context-menu > .menu:after {
    content: '▸';
    position: absolute;
    right: 8px;
}

.context-menu > .option.checked:after {
    content: '✓';
    position: absolute;
    right: 8px;
}

.context-menu .option.selected:before {
    content: '✓';
    position: absolute;
    right: 8px; 
}

.context-menu .option:hover {
    background-color: #3a3a3a;
}

.context-menu .sub-menu {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 250px;
    width: 250px;
}
