.layer
{
    width: 180px;
    margin-bottom: 5px;
}

.layer .controls { 
    display: grid;
    grid-template-columns: 1fr 0.1fr; 
    margin-right: 2px;
}

.layer .buttons { 
    display: grid;
    grid-template-rows: 2.25fr 1fr 1fr;
}

.layer .cbs {    
    display: grid;    
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
    height: 100%;    
}

.layer .master {
    transform: rotate(-90deg);
    transform-origin: 55px 60px;
    height: 100px;
    width: 25px;
}

.layer .master input[type='range'] {
    height: 20px;
    width: 105px;
}

/* Firefox-specific range styling */
.layer .master input[type='range']::-moz-range-progress {
    height: 100%;
    width: 100%;
    background-color: #252525;
}

.layer .master input[type='range']::-moz-range-track {
    height: 100%;
    width: 100%;
    background-color: #191817;
}

.layer .master input[type='range']::-moz-range-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    border-radius: 3px;
}

.layer .master:hover input[type='range']::-moz-range-thumb {
    background-color: #50504f;
    border-color: #50504f;
}

/* Webkit-specific range styling */
.layer .master input[type='range']::-webkit-slider-runnable-track {
    height: 100%;
    width: 100%;
    background-color: #191817;
}

.layer .master input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 20px;
    width: 20px;
    appearance: none;
    background-color: #3a3a3a;
    border: 10px solid #3a3a3a;
    border-radius: 3px;
}

.layer .master:hover input[type='range']::-webkit-slider-thumb {
    background-color: #50504f;
    border-color: #50504f;
}

.layer .crossfadergroup {       
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.layer .handle {    
    margin-right: 2px;
}

